<?xml version="1.0"?>
<config>
    <modules>
        <Coinvoy_Coinvoy>
            <version>0.1.0</version>
        </Coinvoy_Coinvoy>
    </modules>
	<frontend>
        <routers>
            <Coinvoy_Coinvoy>
                <use>standard</use>
                <args>
                    <module>Coinvoy_Coinvoy</module>
                    <frontName>coinvoy_coinvoy</frontName>
                </args>
            </Coinvoy_Coinvoy>
        </routers>
    </frontend>
    <global>
        <blocks>
            <Coinvoy>
                <class>Coinvoy_Coinvoy_Block</class>
            </Coinvoy>
        </blocks>

        <models>
            <Coinvoy>
                <class>Coinvoy_Coinvoy_Model</class>
            </Coinvoy>
        </models>
        <helpers>
            <Coinvoy>
                <class>Coinvoy_Coinvoy_Helper</class>
            </Coinvoy>
        </helpers>
        <resources>
            <Coinvoy_setup>
                <setup>
                    <module>Coinvoy_Coinvoy</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Coinvoy_setup>
            <Coinvoy_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </Coinvoy_write>
            <Coinvoy_read>
               <connection>
                <use>core_read</use>
              </connection>
            </Coinvoy_read>
        </resources>
    </global>

    <default>
        <payment>
            <Coinvoy>
                <active>1</active>
                <model>Coinvoy/paymentMethod</model>
                <title>Bitcoin</title>
                <payment_action>authorize</payment_action>
                <secret></secret>
            </Coinvoy>
         </payment>
    </default>
</config>
